/* Custom styling for the accordion item */
.accordion-item {
    font-size: 14px;
    background-color: rgba(100, 0, 0, 100%);
    padding: 0;
    margin-bottom: 5px;
    border: none;
}
.custom-menu-icon {
    width: 15px;
    height: 20px;
    margin-right: 10px;
}

/* Custom styling for the accordion item */
.accordion-item {
    font-size: 13px;
    background-color: rgba(100, 0, 0, 100%);
    padding: 0px;
    margin-bottom: 5px;
    border-color: transparent;
}

/* Custom styling for the accordion button */
.accordion-button {
    color: #f0ecec;
    font-size: 12px;
    background-color: transparent;
    height: 14px;
    margin-left: 10px;
    padding: 0;
    position: relative;
}

/* Remove default arrow */
.accordion-button::after {
    display: flex;
    color: white;
}

/* Remove focus styles */
.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.headermenu {
    display: flex;
    align-items: center;
    height: 15px;
    margin-left: -10px;
    background-color: transparent;
}

/* Custom styling for the accordion body */
.accordion-body {
    background-color: transparent;
    padding: 10px;
    margin-top: 5px;
}

/* Expanded state */
.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: white;
}

/* Hide arrow in expanded state */
.accordion-button:not(.collapsed)::after {
    color: white;
}

/* Remove focus and active styles for header menu */
.headermenu:focus,
.headermenu:active {
    outline: none !important;
    border: none !important;
}
/* Styling for links inside accordion body */
.accordion-body a {
    display: block;
    line-height: 0.5;
}

.accordion-button::after {
    filter: invert(100%); /* Change the color to your desired color */
}